<!DOCTYPE html>
<html ng-app="fspApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>AngularJS Task Manager</title>
    <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script data-require="angular.js@*" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="2.2.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.min.js"></script>
    <link rel="stylesheet" href="/css/fsp.css" />
    <script src="/js/fsp.js"></script>
</head>
<body>
<div ng-controller="fspController">
    <h2 class="page-title"><a ng-click="update()">{{screens}}</a></h2>
    <table>
        <tr ng-repeat="entry in entries">
            <td th:cellpadding="20px">
                <a target-blank="" href="http://prnt.sc/{{entry.prntscr}}">{{entry.prntscr}}</a>
            </td>
            <td>
                <img src="{{entry.url}}"/>
            </td>
        </tr>
    </table>
    <ul uib-pagination boundary-links="true"
        items-per-page="limit"
        total-items="totalItems"
        ng-model="currentPage"
        ng-change="pageChanged()"
        class="pagination-sm"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;">
    </ul>

</div>

</body>
</html>